configuration {
	modi: "combi";
	font: "Source Code Pro 13.3";
	show-icons: false;
	terminal: "alacritty";
	combi-modi: "window,ssh,drun";
	theme: "gruvbox-dark.rasi";
	display-window: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "rofi";
}
