[user]
	email = pacmanzou@qq.com
	name = pacmanzou

; ssh
# [url "git@github.com:"]
#     insteadOf = https://github.com/

; https
# [url "https://hub.fastgit.xyz"]
[url "https://hub.0z.gs"]
    insteadOf = https://github.com

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
