[user]
    email = 3339132700@qq.com
    name = pacmanzou
[core]
    editor = nvim
    fileMode = false
    quotepath = false
    autocrlf = false
    safecrlf = true
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
