" set{{{
set shell=bash
set history=10000
set wildmenu
set noshowmatch
set showmode
set nospell
set novisualbell
set smartcase
set smartindent
set smarttab
let &t_ut=''
let &termencoding=&encoding
set fileencodings=utf-8,gbk,ucs-bom,cp936
set ruler
set fillchars=vert:\ ,stl:\ ,stlnc:\
set magic
set laststatus=2
set completeopt=longest,noinsert,menuone,noselect,preview
set terse
set number
set relativenumber
set numberwidth=1
set noeb
set list
set wrap
set autoread
set hlsearch
exec "nohlsearch"
set incsearch
set autoindent
set hidden
set ignorecase
set cindent
set backspace=indent,eol,start
set expandtab
set tabstop=4
set shiftwidth=4
set softtabstop=4
set autochdir
set cursorline
set clipboard=unnamedplus
set updatetime=100
set shortmess+=c
set signcolumn=yes
"}}}
" ====================================================================
" map {{{
vnoremap ; :
nnoremap Q @q
nnoremap ; :
nnoremap / mr/
nnoremap Y y$
nnoremap > >>
nnoremap < <<
nnoremap <silent> <Esc> :set nohlsearch<CR>
nnoremap <silent> <Backspace><Space> :g/^\s*$/d<CR>
"}}}
" ====================================================================
" imap{{{
imap <C-F> <Right>
imap <C-B> <Left>
imap <C-A> <Home>
imap <C-E> <End>
imap <C-R> <Nop>
imap <C-V> <Nop>
imap <C-Y> <Nop>
imap <C-O> <Esc>O
imap <C-C> <Esc>
imap <C-K> <Nop>
imap <C-J> <Nop>
imap <C-Z> <Nop>
"}}}
" ====================================================================
" nop{{{
map X <Nop>
map b <Nop>
map B <Nop>
map <Space> <Nop>
map K <Nop>
map J <Nop>
map Z <Nop>
map ZZ <Nop>
map <C-]> <Nop>
map <C-B> <Nop>
map <C-Z> <Nop>
map <C-F> <Nop>
map <C-Y> <Nop>
map <C-O> <Nop>
"}}}
" ====================================================================
" scrolloff{{{
set scrolloff=5
"}}}
" ====================================================================
" save cursor{{{
au BufReadPost * if line("'\"")>1 && line("'\"")<=line("$") | exe "normal! g'\"" | endif
"}}}
" ====================================================================
" substitute{{{
vnoremap <Space>s :s///g<left><left><left>
nnoremap <Space>s :%s///g<left><left><left>
"}}}
" ====================================================================
" windows split{{{
set splitright
set splitbelow
"}}}
" ====================================================================
" windows focus{{{
noremap <silent> <C-L> <C-W>l
noremap <silent> <C-H> <C-W>h
noremap <silent> <C-J> <C-W>j
noremap <silent> <C-K> <C-W>k
"}}}
" ====================================================================
" cursor move{{{
noremap <C-E> $
noremap <C-A> ^
noremap e E
noremap w W
noremap E gE
noremap W B
"}}}
" ====================================================================
" tab switch{{{
nnoremap <silent> <C-N> :tabnext<CR>
nnoremap <silent> <C-P> :tabprevious<CR>
"}}}
" ====================================================================
" visual{{{
noremap <silent> vv <C-V>
noremap <silent> gV ggvG$
"}}}
" ====================================================================
